<footer>
  <nav class="flex space-x-4">
    <a
      class="w-6 h-6 flex items-center opacity-50 hover:opacity-90"
      href="https://github.com/bringyour"
      target="_blank"
    >
      <img src="/icons/github-mark-white.svg" alt="Github" />
    </a>
    <a
      class="w-6 h-6 flex items-center opacity-50 hover:opacity-90"
      href="https://bringyour.com/discord"
    >
      <img src="/icons/discord.svg" alt="Discord" />
    </a>
  </nav>
</footer>
